.sidebar {
    width: 200px;
    height: 100%;
    background-color: #fff;
}

.sidebar.open {
    transform: translateX(0);
}

.background {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}

.nav a:hover {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

.nav a.active {
    font-weight: bold;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close img {
    width: 20px;
    height: 20px;
}