.input:focus {
    outline: none;
    border: #423333 solid 2px;
}

.input {}

.inputWrapper {}

.superInput {
    margin: 10px;
    background: #ca9a9a;
    color: rgb(27, 34, 34);
    border: 2px solid #421d1d;
}

.errorInput {
    margin: 10px;
    background: #e77070;
    color: rgb(27, 34, 34);
    border: 2px solid #421d1d;
}

.errorInput:focus {}

.error {
    color: #333131;
    height: 21px;
    margin-left: 10px;
}